
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*responsive elements of more info page*/
.nav-link {
  font-weight: bold !important;
}

.btn {
  font-weight: 500 !important;
}

.textFooter{
  color: lightgray;
  font-weight: bold;
}

.fullWidth {
  width: 100%;

}
.caption {
  width: 100%;
}

header {
  padding-bottom: 15px;
}

.thumbnail {
  padding-bottom: 20px;
}

.container {
  width: auto;
  max-width: 680px;

  padding: 0 200px;
}

header>h1 {
  color: white;
  font-size: 30px;
  text-align: center;
}

footer {
  position: fixed;
  top: 95%;
  width: 100%;
  height: 5%;
  background-color: rgb(3, 6, 7);
  text-align: center;
}


aside {
  position: absolute;
  text-align: left;
  top: 10%;
  width: 15%;
  height: 90%;

}

section {
  position: absolute;
  width: 90%;
  height: 85%;
  top: 10%;
  left: 15%;
  bottom: 5%;
  text-align: left;
}


img {
  width: 300px;
  height: 300px;
}

body{
  background-color: white;
  margin-bottom: 160px !important;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  background: dodgerblue;
}

.submitButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  background: dodgerblue;
}
